@font-face {
    font-family: Stolzl-Bold; /* Имя шрифта */
    src: url(fonts/Stolzl/Stolzl-Bold.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Stolzl-Book; /* Имя шрифта */
    src: url(fonts/Stolzl/Stolzl-Book.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Stolzl-Light; /* Имя шрифта */
    src: url(fonts/Stolzl/Stolzl-Light.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Stolzl-Medium; /* Имя шрифта */
    src: url(fonts/Stolzl/Stolzl-Medium.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Stolzl-Regular; /* Имя шрифта */
    src: url(fonts/Stolzl/Stolzl-Regular.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Stolzl-Thin; /* Имя шрифта */
    src: url(fonts/Stolzl/Stolzl-Thin.otf); /* Путь к файлу со шрифтом */
   }


header {
    width: 100%;
    height: 32px;
}

header p{
    display: inline;
}

p{
    font-family: Stolzl-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    letter-spacing: 0.4em;
    text-transform: uppercase;

    color: #000000;
}

a{
    font-family: Stolzl-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-decoration: none;
    /* identical to box height */

    letter-spacing: 0.4em;
    text-transform: uppercase;

    color: #000000;
}

.leftSidebar{
    background-color: #fff;
    position: absolute;
    float: left;
    width: 144px;
    padding: 29px; 
}

.leftSidebar__about{
    background-color: #fff;
    position: fixed;
    float: left;
    width: 144px;
    padding: 29px; 
}

#main{
    background-color: #fff;
    margin-left: 140px;
}

.container__black__left{
    width: 495px;
    height: 548px;
    background-image: url(img/logo_img_black.png);
    background-size: 427px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container__black__left img{
    width: 520;
    height: 340;
    margin-left: 52px;
    float: left;
}

.container__black__right{
    width: 495px;
    height: 548px;
    background-image: url(img/logo_img_black.png);
    background-size: 427px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container__black__right img{
    width: 520;
    height: 340;
    margin-left: 52px;
    float: left;
}

.container__white__left{
    width: 495px;
    height: 548px;
    background-image: url(img/logo_img_white.png);
    background-size: 427px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container__white__left img{
    width: 520;
    height: 340;
    margin-left: 52px;
    float: left;
}

.container__white__right{
    width: 495px;
    height: 548px;
    position: absolute;
    top: 1350px;
    right: 144px;
    background-image: url(img/logo_img_white.png);
    background-size: 427px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container__white__right img{
    width: 520;
    height: 340;
    margin-left: 34px;
    float: left;
}

.container__black__center{
    width: 495px;
    height: 548px;
    position: absolute;
    top: 2040px;
    left: 500px;
    background-image: url(img/logo_img_black.png);
    background-size: 427px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container__black__center img{
    width: 520;
    height: 340;
    margin-left: 34px;
    float: left;
}

.container__info{
    position: absolute;
    left: 450px;
    top: 20px;
    padding: 5px; /* Поля вокруг текста */
    width: 144px;
    height: 97px;
}

.container__info p{
    font-family: Stolzl-Light, sans-serif;
    font-style: normal;
    letter-spacing: 0em;
    font-weight: thin;
    font-size: 10px;
    line-height: 184%;
    /* or 18px */

    text-transform: uppercase;

    color: #000000;
}

.container__white{
    width: 498px;
    height: 548px;
    background-image: url(img/logo_img_white.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.container__white img{
    width: 427;
    height: 320;
    margin-left: 34px;
}

.about{
    width: 1010;
    height: 444;
    margin-left: 34px;
    position: absolute;
    top: 96px;
    left: 110px;
    float: left;

}

.about p{
    font-family: Stolzl-Book;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0em;
    font-size: 60px;
    line-height: 124%;
    /* or 74px */

    text-transform: uppercase;

    color: #000000;
}

.address{
    width: 1010;
    height: 444;
    margin-left: 34px;
    position: absolute;
    top: 783px;
    right: 30px;
    float: left;

}

.address p{
    font-family: Stolzl-Light;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 124%;
letter-spacing: 0em;
/* or 12px */

text-align: center;
text-transform: uppercase;

color: #000000;
}



.footer__main{
    position: absolute; 
    left: 48.75%; top: 100%; /* Внизу в центре */
    padding: 30px;
}
